$primary-orange-color: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$mediumGrey: hsl(217, 12%, 63%);
$lightGrey: hsl(216, 12%, 54%);
$mediumDark: hsl(213, 19%, 18%);
$veryDark: hsl(216, 12%, 8%);
$font-family: "Overpass", sans-serif;
$fw-400: 400;
$fw-700: 700;
$default-font-size: 1.5rem;
